.description-column-style .label {
  -fx-alignment: CENTER_LEFT;
}

.custom-align { 
  -fx-alignment: CENTER; 
} 

.locked-button {
	-fx-background-color:#e74c3c;
}

.locked-button:hover {
	-fx-background-color:#2ecc71;
}

.unlocked-button{
	-fx-background-color:#2ecc71;
}

.unlocked-button:hover{
	-fx-background-color:#e74c3c;
}

.close-button:hover {
	-fx-background-color:#e74c3c;
}

.delete-button:hover {
	-fx-background-color:#e74c3c;
}

.custom-button:hover {
	-fx-background-color:#2ecc71;
}


.fitwidth {
    -fx-width: 1.0px;
    -fx-white-space: nowrap;
}

.table-view:focused {
  -fx-background-color: transparent;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
}

.table-row-cell:hover {
    -fx-background-color: #bdc3c7;
}

.table-row-cell:selected .text {
	-fx-fill: #1e272e;
    -fx-font-weight: bold;
    
}

.table-row-cell:selected {
	-fx-border-color: #3498db;
	-fx-table-cell-border-color:transparent;
}

.late-row{
	-fx-background-color: #e74c3c;
}

.today-row{
	-fx-background-color: #f1c40f;
}

.tomorrow-row {
	-fx-background-color: #2ecc71;
}