.description-column-style .label {
  -fx-alignment: CENTER_LEFT;
}

.custom-align { 
  -fx-alignment: CENTER; 
} 

.close-button:hover {
	-fx-background-color:#e74c3c;
}

.delete-button:hover {
	-fx-background-color:#e74c3c;
}

.custom-button:hover {
	-fx-background-color:#2ecc71;
}


.fitwidth {
    width: 1px;
    white-space: nowrap;
}