.description-column-style .label {
  -fx-alignment: CENTER_LEFT;
}

.custom-align { 
  -fx-alignment: CENTER; 
} 

.warning-button{
	-fx-opacity: 1;
	-fx-background-color:#e74c3c;	
	-fx-transaction: 0.3s;
	-fx-color: white;
	-fx-font-weight: bold;
	
}

.warning-button:hover {
	-fx-opacity: 0.9;
}

.delete-button:hover {
	-fx-background-color:#e74c3c;
}

.custom-button:hover {
	-fx-background-color:#2ecc71;
}