.delete-button:hover {
	-fx-background-color:#e74c3c;
}

.custom-button:hover {
	-fx-background-color:#2ecc71;
}

.custom-button:focus{
	-fx-outline:none;
}	

.description-column-style .label {
  -fx-alignment: CENTER_LEFT;
  -fx-width: 100%;
}

.custom-align { 
  -fx-alignment: CENTER; 
} 